// fonts.scss
@font-face{
	font-family: "Walt";
	src: url('/static/Fonts/Walt.ttf');
}

$font_title: Gothic,CenturyGothic,AppleGothic,sans-serif;
$font_title_size: 30px;
$color_title: #4F4724;
$color_background: #FFF7CF;
$color_topbar: #2f2f2f;
$color_sidebar: #FFFBE8; //FFFFCF


$topbar_height: 34px;
