//_header.scss
@import "libraries/bourbon/bourbon.scss";

@import "libraries/neat/neat.scss";

@import "_font";
@import "_tags";

body{
	margin: 0;
	padding: 0;
	border: 0;
}
.topbar {
	background: $color_topbar;
	width: 100%;	
	height:	$topbar_height;
	line-height: 1;
	font-size: 13px;
}
.topbar-wrapper {
	width: 82%;
	padding-left: 0;
	position: relative;
	margin: 0 auto;
	height: 34px;
	text-align: left;
}
#head{
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-size: 45px;
	font-weight: bold;
	margin-top: $topbar_height/1.41;
	margin-left: $topbar_height;
	padding-top: 0;
	color: #111111;
}
#main {
	@include outer-container();
	margin-left: 0;
	margin-right: 0;
	width: 82%;
	margin: 0 auto;
}

#main-movie {
	@include span-columns(9 of 12);
	margin-right: 0;
}
#main-side {
	@include span-columns(3 of 12);
	height: 100%;
	border: 1px #dfdfdf solid;
}
#main-side-1 {
	border: 3px #fff solid;
	height: 100%;
	background: $color-sidebar;
}
#header {
	width: 82%;
	height: $topbar_height*3;
	margin: 0 auto;
}

#row-1 {
	// box-sizing: border-box;
	padding-left: 0;
	// position: relative;
	height: 350px;
	// @include span-columns(12);
	@include row(table);
	// width: 82%;
	margin: 0 auto;
}
#col-1 {
	@include span-columns(4 of 12);
	// @include pad(em(15));
    // overflow: hidden;
	height: 100%;
}
#col-3 {
	width: 200px;
	height: 100%;
}
#col-1-container {
	width: 200px; 
    height: 312px;
}
#movie {
	display: block;
	object-fit: cover;
	width: 200px; /*set the width or max-width*/

    // height: auto;
    height: 290px;
    overflow: hidden;
    margin-left: 0;
    margin-right: auto;
    clear: both;
    border-radius: 13px;
}
#disney-logo {
	display: block;
	width: 170;
	height: auto;
	float: left;
	margin-top: $topbar_height/2
	// padding: $topbar_height/2 0 0 0;
}
#mouse_logo {
	display: block;
	height: 50;
	width: auto;
	float: left;
	margin-top: $topbar_height/1.41
}