{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'Disney/main.css' %}" />

<body>
<div class="topbar">
	<div class="topbar-wrapper">
		<a href="https://en.wikipedia.org/wiki/List_of_Walt_Disney_Pictures_films">Disney Movies Disney Movies Disney Movies Disney Movies Disney Movies Disney Movies Disney Movies Disney Movies Disney Movies Disney</a>
	</div>
</div>
<div id="header">
	<img id="disney-logo" src="/static/Disney/images/Disney_logo.png" alt="DisneyLogo">
	<img id="mouse_logo" src="/static/Disney/images/mouse_logo.png" alt="MouseLogo">
	<a id="head">Movies</a>
</div>
<div id="main">
	<div id="main-movie">
		{%if movie_list%}
			<div id="row-1">
				{%for movie in movie_list%}
					{%if forloop.counter|divisibleby:3 %}
					<div id="col-3">
						<a href="/movies/{{movie.title}}/"><div id="col-1-container">
							<img id="movie" src= "{{ movie.poster }}" alt="poster {{movie.title}}"/>
							<h2>{{movie.title}}  {{movie.year}}</h2>
						</div></a>
					</div>
					</div>
					<div id="row-1">
					{%else%}
					<div id="col-1">
						<a href="/movies/{{movie.title}}/"><div id="col-1-container">
							<img id="movie" src= "{{ movie.poster }}" alt="poster {{movie.title}}"/>
							<h2>{{movie.title }} {{movie.year}}</h2>
						</div></a>
					</div>
					{%endif %}
					{%if forloop.counter|divisibleby:3 %}
						</div>
						<div id="row-1">
					{%endif%}
				{%endfor%}
			</div>
		{%endif%}
	</div>
	<div id="main-side">
		<div id="main-side-1">
			
		</div>
	</div>
</div>
</body>